/* SASS */
/* Import style */
@import 'fontello.css'
/* Import font font-family: "Helvetica", "Arial", sans-serif */

/* Color */
$first-color: #FED100
$second-color: #FFFFFF
$third-color: #333333
/* Basic style */

/* Another style */

/* Media */
@media screen and (max-width: 1600px)
@media screen and (max-width: 992px)
@media screen and (max-width: 768px)
@media screen and (max-width: 576px)
@media screen and (max-width: 375px)
